@font-face {
    font-family: 'proxima_novabold';
    src: url('../assets/fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'proxima_novaregular';
    src: url('../assets/fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'proxima_novathin';
    src: url('../assets/fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/proximanova-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  overflow: hidden;
  font-family: 'proxima_novaregular', 'sans-serif';
  margin: 0;
}

h1, h2, h3, h4, a, button {
  font-family: 'proxima_novabold', 'sans-serif';
  text-decoration: none;
  line-height: 1.1;
}

header {
  width: 100%;
  text-align: left;
  padding: 0 30px;
}

header img {
  width: 250px;
}

.home {
  padding-top: 100px;
}

main section {
  transition: opacity .5s;
}

main section.fade {
  opacity: 0;
}

.white {
  position: fixed;
  z-index: 100;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.pic_block {
  width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 75px;
}

.pic_block.right {
  justify-content: flex-start;
}

.pic_block img {
  width: 775px;
  transition: width .5s;
}

.pic_block img.enlarge {
  width: 750px;
}

.pic_block > div {
  background-color: red;
  position: absolute;
  left: 0;
  padding: 50px;
  max-width: 400px;
}

.pic_block.right div {
  left: auto;
  right: 0;
  -webkit-animation: move_one 10s infinite;
}

@-webkit-keyframes move_one {
    0%, 33% { right: 0; }
    6%, 27% { right: 100px;  }
}

.img_txt {
  -webkit-animation: move_two 10s infinite;
  transition: transform .5s;
}

.img_txt.enlarge {
  transform: scale(1.1);
}

@-webkit-keyframes move_two {
    33%, 66% { border: 0px solid transparent; }
    39%, 60% { border: 20px solid red;  }
}

.pic_block.left div {
  -webkit-animation: move_three 10s infinite;
}

@-webkit-keyframes move_three {
    66%, 99% { left: 0; }
    73%, 93% { left: 100px;  }
}

.pic_block h2 {
  color: white;
  font-size: 50px;
  margin-bottom: 0;
}

.pic_block p {
  font-size: 26px;
  font-family: 'proxima_novabold', 'sans-serif';
  margin-top: 35px;
  text-decoration: none;
  color: black;
}

section a {
  text-decoration: none;
}

button {
  color: white;
  border: 3px solid white;
  padding: 20px 50px;
  background: transparent;
  font-size: 24px;
  font-family: 'proxima_novaregular', 'sans-serif';
}

.no_txt button {
  margin-top: 46px;
}

.img_txt {
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin: auto;
  margin-bottom: 75px;
}

.img_txt h2 {
  font-size: 100px;
  color: white;
}

.img_txt img {
  width: 100px;
  margin-right: 16px;
}





/*==========================. IFRAMES. ===========================*/
.action iframe, .energy iframe {
  width: 1080px;
  height: 1750px;
  position: relative;
}

.action iframe {
  top: -196px;
}

.energy iframe {
  top: -128px;
}

.action, .energy {
  overflow: hidden;
  margin-left: -2px;
}

.go_home {
  position: absolute;
  top: 50px;
  right: 50px;
}

.go_home img {
  width: 50px;
}

.no_results {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 500px;
  text-align: center;
  z-index: -1;
}

.no_results p {
  font-size: 50px;
}

.no_results img {
  width: 400px;
}










